* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 360px;
}

.slider .imgGroup {
    height: auto;
    position: absolute;
    transition: all 0s linear 0s;
}

.imgGroup img {
    height: 360px;
    width: auto;
}

@media only screen and (max-width: 1300px) {
    .slider {
        height: 300px;
    }
    .imgGroup img {
        height: 300px;
    }
}

@media only screen and (max-width: 1130px) {
    .slider {
        height: 270px;
    }
    .imgGroup img {
        height: 270px;
    }
}

@media only screen and (max-width: 1000px) {
    .slider {
        height: 240px;
    }
    .imgGroup img {
        height: 240px;
    }
}

.imgGroup>li {
    float: left;
}

.main {
    height: 160px;
    margin: 0 auto;
    position: relative;
}

.main .mainLeft {
    width: 320px;
    height: 240px;
    position: absolute;
    margin-top: -120px;
    margin-left: -80px;
    background-image: url('../img/skateMan.png');
    background-size: auto 240px;
    background-repeat: no-repeat;
    transition: all 0s linear 0s;
}

.mainRight {
    position: absolute;
    margin-left: 230px;
}

.mainRight .descUp {
    height: 82px;
    margin-top: -12px;
    margin-left: 8px;
}

.descUp>li {
    width: 235px;
    height: 82px;
    float: left;
    margin-right: 105px;
    border-radius: 30px 30px 30px 0;
    padding: 5px;
    font-size: 16px;
    opacity: 0;
}

.mainRight .time {
    height: 10px;
}

.time .timeLine {
    width: 0;
    height: 7px;
    margin-top: 16px;
    border-radius: 20px;
    background-color: #aaa;
}

.time .timeDot {
    height: 1px;
    margin-top: -11px;
}

.timeDot>li {
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 160px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    background-color: steelblue;
    display: none;
}

.descDown {
    height: 82px;
    margin-top: 3px;
}

.descDown>li:first-child {
    width: 230px;
    height: 82px;
    float: left;
    position: absolute;
    margin-left: 183px;
    border-radius: 0 30px 30px 30px;
    padding: 5px;
    font-size: 16px;
    opacity: 0;
}

.descDown>li:last-child {
    width: 230px;
    height: 82px;
    float: left;
    position: absolute;
    margin-left: 534px;
    border-radius: 0 30px 30px 30px;
    padding: 5px;
    font-size: 16px;
    opacity: 0;
}

@media only screen and (max-width: 1300px) {
    .mainRight .descUp {
        height: 80px;
        margin-top: -10px;
    }

    .descUp>li {
        width: 165px;
        height: 80px;
        margin-right: 95px;
        padding: 5px;
        font-size: 13px;
    }

    .timeDot>li {
        margin-right: 120px;
    }

    .descDown {
        margin-top: 4px;
    }

    .descDown>li:first-child {
        width: 165px;
        height: 80px;
        margin-left: 143px;
        font-size: 13px;
    }

    .descDown>li:last-child {
        width: 165px;
        height: 80px;
        margin-left: 413px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 1130px) {
    .mainRight {
        margin-left: 180px;
        margin-top: -30px;
    }

    .mainRight .descUp {
        height: 60px;
    }

    .descUp>li {
        width: 150px;
        height: 60px;
        margin-right: 50px;
        font-size: 11.5px;
    }

    .timeDot>li {
        margin-right: 90px;
    }

    .descDown>li:first-child {
        width: 150px;
        height: 60px;
        margin-left: 113px;
        font-size: 11.5px;
    }

    .descDown>li:last-child {
        width: 150px;
        height: 60px;
        margin-left: 324px;
        font-size: 11.5px;
    }
}

@media only screen and (width: 1024px) and (height: 1366px) {
    .imgGroup img {
        height: 730px;
    }

    .main .mainLeft {
        margin-top: -100px;
        margin-left: 20px;
    }

    .mainRight {
        margin-left: 320px;
    }

    .descUp>li {
        width: 190px;
        margin-right: 129px;
    }

    .timeDot>li {
        margin-right: 150px;
    }

    .descDown>li:first-child {
        width: 190px;
        margin-left: 171px;

    }

    .descDown>li:last-child {
        width: 190px;
        margin-left: 502px;
    }
}

@media only screen and (width: 768px) and (height: 1024px) {
    .imgGroup img {
        height: 510px;
    }

    .main .mainLeft {
        margin-top: -90px;
        margin-left: -30px;
    }

    .mainRight {
        margin-top: -23px;
        margin-left: 238px;
    }

    .descUp>li {
        width: 146px;
        margin-right: 95px;
    }

    .timeDot>li {
        margin-right: 105px;
    }

    .descDown>li:first-child {
        width: 146px;
        margin-left: 128px;
    }

    .descDown>li:last-child {
        width: 146px;
        margin-left: 368px;
    }
}

.desc .year {
    text-align: center;
}

.descUp li:nth-child(1) {
    background-color: #ffd57e;
}

.descDown li:nth-child(1) {
    background-color: #e97171;
}

.descUp li:nth-child(2) {
    background-color: #c3aed6;
}

.descDown li:nth-child(2) {
    background-color: #b0e0a8;
}

.descWrap {
    color: #555;
}

@keyframes showDesc {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}
.showDesc {
    animation-name: showDesc;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.year {
    font-weight: bold;
}

.footer{
    min-width: 640px;
    height: auto;
    margin: 80px 5% 0 5%;
    border-top: 1px solid #bbb;
    display: flex;
    box-shadow: 0 5px 5px #eee;
}

@media only screen and (max-width: 1130px){
    .footer{
        margin: 0 5%;
    }
}

.footer .resume{
    width: 40%;
    padding: 10px 0;
} 
.footer .nav{
    width: 60%;
    padding: 10px 0;
}

.resume .resumeText{
    padding: 0 10px;
    text-align: center;
    color: #808080;
    word-wrap: break-word;
}

.footer .nav{
    position: relative;
}

.footer .nav .btns {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.btns>li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 16px;
    color: #1989C0;
    cursor: pointer;
}

.btns>li:hover {
    background-color: #1989C0;
    color: white;
    border-radius: 2px;
    transition: background-color 0.8s;
}

.btns>li>img{
    width: 25px;
    height: 25px;
}

.nav .lan{
    position: absolute;
    overflow: hidden;
    margin-left: 8%;
    display: flex;
    height: 0;
    opacity: 0;
}

.lan li{
    width: 50px;
    text-align: center;
}

.lan img{
    height: 27px;
    width: 27px;
}

@keyframes showLan {
    0% {
        height: 0;
        opacity: 0;
        margin-top: -10px;
    }

    100% {
        height: 31px;
        margin-top: -40px;
        opacity: 1;
    }
}
.showLan {
    animation-name: showLan;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes hideLan {
    0% {        
        height: 31px;
        margin-top: -40px;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
        margin-top: -10px;
    }
}
.hideLan {
    animation-name: hideLan;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}