* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    overflow: hidden;
}
/* navigation */
.nav {
    width: 10%;
    position: absolute;
    margin-left: 90%;
    background-color: rgba(222, 222, 222, 0.3);
    z-index: 1;
}

/* multilanguages */
.nav .lan{
    width: 10%;
    position: fixed;
    top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lan>p, .lan>ul>li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #808080;
}

.lan>p:hover, .lan>ul>li:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;
    transition: background-color 0.5s;
}

.showLan{
    opacity: 1;
    transition: all 0.5s;
}
.hideLan{
    opacity: 0;
    transition: all 0.5s;
}

@media only screen and (max-width: 700px) {
    .nav{
        width: 18%;
        margin-left: 82%;
    }

    .nav .lan{
        width: 18%;
    }
}

/* navigation */
.navTitles {
    width: 100%;
    position: absolute;
}

.navTitles>li {
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}
/* dynamic navigation */
.nav>ul:last-child {
    width: 100%;
    position: absolute;
    margin-left: 100%;
}

.nav>ul:last-child>li {
    height: 70px;
    line-height: 70px;
    background-color: #000;
    opacity: 0.1;
}

@keyframes navDotAhead {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: -100%;
    }
}
.activated {
    animation-name: navDotAhead;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
@keyframes navDotBack {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0%;
    }
}
.unactivated {
    animation-name: navDotBack;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
/* slider container */
.slider {
    width: 100%;
    position: absolute;
}

.pageOne {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f4df;
    font-size: 27px;
    line-height: 1.5;
    color: #666;
}

@media only screen and (max-width: 1000px) {
    .pageOne {
        font-size: 24px;
    }
}

@media only screen and (max-width: 800px) {
    .pageOne {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .pageOne {
        font-size: 16px;
    }
}

@media only screen and (max-width: 650px) {
    .pageOne {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-height: 530px) {
    .pageOne {
        font-size: 12px;
    }
}

.signature {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .signature img {
        width: 300px;
    }
}

@media only screen and (max-width: 700px) {
    .signature img {
        width: 250px;
    }
}

@media only screen and (max-height: 530px) {
    .signature img {
        width: 180px;
    }
}

@media only screen and (max-height: 400px) {
    .signature img {
        width: 130px;
    }
}

.pageOne>.signature>.link {
    width: 100px;
    height: 50px;
    margin-top: 10%;
    background-color: #1989C0;
    border-radius: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pageOne>.signature>.link>a{
    color: #fff;
    text-decoration: none;
}

.pageOne>.signature>.link:hover {
    background-color: #226089;
    transition: background-color 0.5s;
}

@media only screen and (max-width: 1000px) {
    .pageOne>.signature>.link {
        width: 80px;
        height: 40px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .pageOne>.signature>.link {
        width: 60px;
        height: 30px;
        font-size: 16px;
    }
}

@media only screen and (max-height: 400px) {
    .pageOne>.signature>.link {
        width: 40px;
        height: 20px;
        font-size: 12px;
    }
}

.pageTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f4df;
    text-align: center;
    color: #666;
    font-size: 27px;
    line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
    .pageTwo {
        font-size: 24px;
    }
}

@media only screen and (max-width: 800px) {
    .pageTwo {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .pageTwo {
        font-size: 16px;
    }
}

@media only screen and (max-height: 400px) {
    .pageTwo {
        font-size: 12px;
    }
}

.pageThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f4df;
    color: #666;
    font-size: 27px;
    text-align: center;
}

.pageThree>div:first-child{
    margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
    .pageThree {
        font-size: 24px;
    }
}

@media only screen and (max-width: 800px) {
    .pageThree {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .pageThree {
        font-size: 16px;
    }
}

@media only screen and (max-height: 400px) {
    .pageThree {
        font-size: 12px;
    }
}

.pageThree a {
    text-decoration: none;
    color: #666666;
}